@model IEnumerable<Employee>

@{ 

    ViewBag.Title = "Employee List";
}

    <div class="card-deck">
        @foreach (var employee in Model)
        {
        <div class="card m-3">
            <div class="card-header text-center">
                <h3>@employee.Name</h3>
            </div>
            @if (employee.Name == "ASK")
            {
                <img class="card-img-top img-thumbnail" src="~/images/ASK.jpg" />
            }
            else if (employee.Name == "MAD")
            {
                <img class="card-img-top img-thumbnail" src="~/images/MAD.jpg" />
            }
            @*else if (employee.Name == "SBR")
            {
                <img class="card-img-top img-thumbnail" src="~/images/Siri.jpg" />
            }*@
            else
            {
                <img class="card-img-top img-thumbnail" src="~/images/VK2.jpg" />
            }
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id"  class="btn btn-primary">View</a>
                @*<a href="#" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>*@
            </div>
        </div>
        }
    </div>
