@model IEnumerable<Employee>

@{ 

    ViewBag.Title = "Employee List";
}

    <div class="card-deck">
        @foreach (var employee in Model)
        {
        <div class="card m-3">
            <div class="card-header text-center">
                <h3>@employee.Name</h3>
            </div>
            @if (employee.Name == "ASK")
            {
                <img class="card-img-top img-thumbnail" src="~/images/ASK.jpg" asp-append-version="true"/>
            }
            else if (employee.Name == "MAD")
            {
                <img class="card-img-top img-thumbnail" src="~/images/MAD.jpg" asp-append-version="true" />
            }
            else if (employee.Name == "SBR")
        {
            <img class="card-img-top img-thumbnail" src="~/images/Siri.jpg" asp-append-version="true"/>
        }
            else
            {
                <img class="card-img-top img-thumbnail" src="~/images/VK2.jpg" asp-append-version="true" />
            }
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
        }
    </div>
